*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
nav{
    background-color: beige;
}
.navbar ul{
    display: inline-block;
    list-style-type:none;
    padding-right: 50px;
    padding-top: 30px;
    font-size: 20px;
}
.navbar ul li{
    display: inline-block;
    padding: 20px;
    
}
.navbar ul li a:hover{
    color: red;

}
.logo h1{
    font-size: 30px;
    
}
.list-item{
    display: inline-block;
    border-radius: 20px;
}

.navbar{
    display: flex;
    flex-flow: row wrap ;
    justify-content: end;
    
}
.nav-list{
    flex:1;
    text-align: right;
}
.logo h1{
    display: inline-block;
}

